.contenedor_carta_detalle{
    display: flex;
    justify-content: center;
}

.carta{
    background-color: #009144;
    border: none;
    box-shadow: 2px 2px 10px #4646469e;
    margin: 20px;
}

.contenedor_img{
    display: flex;
    justify-content: center;
}

.img_carta{
    width: 80%;
    margin-top: -10px;
    margin-bottom: -20px;
}

.titulo_carta{
    color: #f1f1f1;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

.titulo_carta{
    color: #f1f1f1;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2px 40px;
}

.descripcion_carta{
    margin-top: 20px;
    padding-top: 0px 10px;
    color: #f1f1f1;
}

.descripcion_carta h6{
    font-weight: 700;
    font-size: 18px;
}

.descripcion_carta h6 span{
    color: #000;
}

.vermas_contenedor{
    display: flex;
    justify-content: flex-end;
}

.icon_vermas{
    color: #009245;
    background-color: #f1f1f1;
    border-radius: 100%;
    font-size: 25px;
}

.icon_vermas:hover{
    color: #f1f1f1;
    background-color: #000;
}