.navbar{
    background-color: #02843f;
}

.navbar-brand{
    display: contents;
}

.logo_nav{
    width: 58px;
}

.navbar-toggler{
    border: transparent;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.contenedor_menu{
    padding-top: 8px;
}

.link_productos{
    padding: 3px 20px;
    color: #e9e9e9;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.link_productos:hover{
    color: #e9e9e9;
}

.link_productos::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #202020;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;
    
}

.link_productos:hover::after {
    transform: scale(1,1);
}


#basic-nav-dropdown{
    color: #e9e9e9;
    padding: 3px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.dropdown-menu{
    background-color: #202020;
    border: none;
    border-top: #363636 solid 1px;
    border-radius: 0;
    padding-left: 20px;
}

.navbar-toggler-icon{
    background-image:url('../../../public/img/icon.png') !important;
}

.link_categoria{
    display: block;
    padding: 3px 20px;
    color: #e9e9e9;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}
.link_categoria:hover{
    color: #e9e9e9;
}

.link_categoria::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #00823c;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;   
}

.link_categoria:hover::after {
    transform: scale(1,1);
} 

.icon_user_{
    margin-top: 15px;
    color: #e9e9e9;
    margin-bottom: 5px;
}

.salir{
    display: flex;
    justify-content: flex-end;
}

.salir button{
    border: none;
    background-color: transparent;
    color: #282828;
    font-size: 0.9rem;
    font-weight: 700;
}
/* ---------------------------------------------------------- */






















/* MEDIA QUERY */

@media only screen and (min-width:768px){
    

    .logo_nav{
        width: 70px;
    }

    .icon_user_{
        font-size: 0.8rem;
    }
    
    .salir button{
        font-size: 0.8rem;
    }

}

@media only screen and (min-width:1440px){

    .logo_nav{
        width: 90px;
    }

    .link_productos{
        font-size: 20px;
    }

    #basic-nav-dropdown{
        font-size: 20px;  
        margin-top: 1px;
    }

    
    .icon_user_{
        font-size: 1rem;
    }
    
    .salir button{
        font-size: 0.9rem;
    }
}